{% extends 'bills/header.html' %}
{% block content %}
{% load static %}

<div class="place n-bill"></div>
<body>
<div class="new-payment">
    <div class="title">
        <p>Nuevo Proveedor</p>
    </div>

    {% if request.session.error_message %}
    <div class="error_message">
        <p>{{request.session.error_message}}</p>
    </div>
    {% endif %}
    {% if request.session.success_message %}
    <div class="success_message">
        <p>{{request.session.success_message}}</p>
    </div>
    {% endif %}
    
    <div class="form-body  form-body-provider">
        <form action="{% url 'providers:provider_created' %}" method="post">
            {% csrf_token %}
            <div class="form-data-payment form-new-provider">
                <input type="hidden" name="bill_selected" value="{{bill_selected.pk}}">
                <div>
                    <div>
                        <label for="name">Nombre</label>
                        <p>
                            <input type="text" name="name" placeholder="name" required>
                        </p>
                    </div>
                    <div>
                        <label for="rif">Rif </label>
                        <input type="text" name="rif" placeholder="Rif" required>
                    </div>
                    
                </div>
                <div>
                    <div>
                        <label for="nickname">nickname</label>                        
                        <p>
                            <input type="text" name="nickname" placeholder="nickname">
                        </p>
                    </div>
                    <div>
                        <label for="dollar_debt">Deuda en Dolar</label>        
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="dollar_debt" value="0" required>
                        </p>
                    </div>
                </div>
                <div class="form-data-last-payment">
                    <div> 
                        <label for="taxtype" >Porcentaje de retencion de iva:</label>
                        <p>
                            <input   list="taxtype-list" name="taxtype" placeholder="Selccione Opcion.." required>
                            <datalist id="taxtype-list">
                                <option value="0%"></option>                
                                <option value="75%"></option>                
                                <option value="100%"></option>     
                            </datalist>
                        </p>
                    </div>

                </div>     
                <div class="create-buttons">
                    <a href="{% url 'providers:index' %}" class="link-secondary-button" >Cancelar</a>
                    <input type="submit" value="Crear" class="link-primary-button">
                </div>       
            </div>            
        </form>
    </div>
    {{ request.session.error_message }} 
    {{ request.session.message }} 

</div>
</body>
<script src="{% static 'bills/js/new_bill.js' %}"></script>
{% endblock %}
