<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Nombre: {{provider.name}} - {{provider.rif}}</h1>
    <h3>Alias: {{provider.nickname}}</h3>
    <div>
      <br>
        Deuda: {{provider.dollar_debt}} <br>
        Retencion: {{provider.taxtype}} %
    </div> 
    <br><br>
    <div>

    </div>
    <br><br>
    <a href="{% url 'providers:update_provider' provider.id %}">Editar</a>
    <a href="{% url 'providers:index' %}">Volver</a>



</body>
</html>