<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Actualizar Proveedor</h1>
    <form action="{% url 'providers:provider_updated' provider.id %}" method="post">
        {% csrf_token %}
        <label for="name">Nombre</label><br>
        <input type="text" name="name" value={{provider.name}} required><br>
        
        <label for="rif">Rif </label><br>
        <input type="text" name="rif" value={{provider.rif}} required><br>

        <label for="nickname">nickname</label><br>
        <input type="text" name="nickname" value={{provider.nickname}}><br>
  
        <label for="dollar_debt">Deuda en Dolar</label><br>
        <input type="number" step="0.01" name="dollar_debt" value={{provider.dollar_debt}} required><br>

        <label for="taxtype" >Porcentaje de retencion de iva:</label>
        <input   list="taxtype-list" name="taxtype" value={{provider.taxtype}} required>
            <datalist id="taxtype-list">
                <option value="0">0% de retencion</option>                
                <option value="75">75% de retencion</option>                
                <option value="100">100% de retencion</option>                
                
            </datalist><br><br>

        <input type="submit" value="Guardar">


    </form>
    {{ request.session.message }} <br>

    <a href="{% url 'providers:index' %}">Cancelar</a>
</body>
</html>