{% extends 'bills/header.html' %}
{% block content %}
{% load static %}

<body>    
<div class="place p-bills"></div>
<div class="details">
    <div class="details-container">    
        <div class="title">
            <p>Detalle de Factura</p>
        </div>
        <div class="general-details">
            <div class="general-details-left">
                <div>
                    <p>Nombre</p>
                    <p>{{bill.provider.name}}</p>
                </div>
                <div>
                    <p>Alias:</p>
                    <p>{{bill.provider.nickname}}</p>
                </div>
            </div>
            <div class="general-details-center">
                <div>
                    <p>Rif:</p>
                    <p>{{bill.provider.rif}}</p>
                </div>
                <div>
                    <p>Retencion:</p>
                    <p>{{bill.provider.taxtype}}%</p>
                </div>
            </div>
            <div class="general-details-right">
                <p class="general-details-right-p">Deuda:</p>                
                {% if bill.provider.dollar_debt > 0 %}
                    <p class="debt">${{bill.provider.dollar_debt}}</p>
                {% else %}
                    <p class="paid">${{bill.provider.dollar_debt}}</p>
                {% endif %}                
            </div>
        </div>
        <div class="details-content">
            <div class="detail-head">
                <div class="detail-head-left">
                    <p>Cod:</p>
                    <p>{{bill.bill_number}}</p>
                </div>
                <div class="detail-head-center">
                    <p> Em: </p>
                    <p>{{bill.emission_date}} -</p>
                    <p>Vto:</p>
                    <p>{{bill.due_date}}</p>
                    {% if bill.overdue %}
                    <p class="debt">Vencida</p>
                    {% else %}
                    <p class="paid">Vigente</p>
                    {% endif %}
                </div>
                <div class="detail-head-right">
                    
                    {% if bill.rest_to_pay_dollar > 0 %}
                        <p>Pendiente:</p>
                        <p class="debt">${{bill.rest_to_pay_dollar}}</p>
                    {% else %}
                        <p class="paid">Pagada</p>
                    {% endif %}                       
                </div>
            </div>
            <div class="detail-body">
                <div class="detail-body-left">
                    <div>
                        <p>Bolivares</p>
                    </div>
                    <div>
                        <p>Total:</p>
                        <p>Bs.{{bill.amount_bs}}</p>
                    </div>
                    <div>
                        <p>Sub Total:</p>
                        <p>Bs.{{bill.sub_total_bs}}</p>
                    </div>
                    <div>
                        <p>I.V.A.:</p>
                        <p>Bs.{{bill.tax_bs}}</p>
                    </div>
                    <div>
                        <p>I.V.A. Ret:</p>
                        <p>Bs.{{bill.retained_tax_bs}}</p>
                    </div>
                    <div>
                        <p>A Pagar:</p>
                        <p>Bs.{{bill.amount_to_pay_bs}}</p>
                    </div>
                </div>
                <div class="detail-body-center">
                    <div>
                        <p>Dolares</p>
                    </div>
                    <div>
                        <p>Total:</p>
                        <p>${{bill.amount_dollar}}</p>
                    </div>
                    <div>
                        <p>Sub Total:</p>
                        <p>${{bill.sub_total_dollar}}</p>
                    </div>
                    <div>
                        <p>I.V.A.:</p>
                        <p>${{bill.tax_dollar}}</p>
                    </div>
                    <div>
                        <p>I.V.A. Ret:</p>
                        <p>${{bill.retained_tax_dollar}}</p>
                    </div>
                    <div>
                        <p>A Pagar:</p>
                        <p>${{bill.amount_to_pay_dollar}}</p>
                    </div>
                </div>
                <div class="detail-body-right">
                    <div>
                        <p>Totales</p>
                    </div>
                    <div>
                        <p>Total Factura:</p>
                        <p>${{bill.bill_total_dollar}}</p>
                    </div>
                    <div>
                        <p>Total a Pagar:</p>
                        <p>${{bill.total_to_pay_dollar}}</p>
                    </div>
                    <div>
                        <p>Pagado:</p>
                        <p>${{bill.amount_paid_dollar}}</p>
                    </div>
                </div>                
            </div>
            <div class="edit-buttons">
                <a href="{% url 'bills:index' %}" class="link-secondary-button" >Volver</a>
                <a href="{% url 'bills:update_bill' bill.id %}" class="link-primary-button" >Editar</a>
                <a href="{% url 'payments:new_payment_show_bill_id'  bill.id %}" class="link-primary-button">Pagar</a>
                <figure class="print-button">
                    <img src="{% static 'bills/images/print.png'  %}"  alt="new-bill"> 
                </figure>
            </div>
        </div>
        <div class="payment-title">
            <p>Pagos:</p>
        </div>
        {% if payments_list %}
        <div class="payments-container">
                

            {% for payment in payments_list %}
            <div class="bill-content-p payment-content">
                <div class="bill-head">
                    <div class="bill-head-left">
                        <p>{{payment.bill.bill_number}}   |</p>
                        <p>Fecha: {{payment.date}} -</p>
                        {% if payment.paid_total %}
                        <p>Total</p>
                        {% else %}
                        <p>Parcial</p>
                        {% endif %}
                    </div>
                    <div class="bill-head-right">
                        <figure>
                            <a href="{% url 'payments:delete_payment'  payment.id %}">
                                <img src="{% static 'bills/images/trash.png'  %}" alt="trash" class="trash">
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="bill-body payment-body">
                    <div class="bill-body-sub-left-p bill-body-payment-left">
                        <div class="bill-detail inactive">
                            <p>Proveedor:</p>
                            <p>{{payment.bill.provider.nickname}}</p>
                        </div>
                        <div class="bill-detail">
                            <p>Comentario:</p>
                            <p>{{payment.description}}</p>
                        </div>
                        <div class="bill-detail">
                            <p>Cuenta:</p>
                            <p>{{payment.account.name}}</p>
                        </div>
                    </div>
    
                    <div class="bill-body-sub-p bill-body-payment-center">
                        <div class="bill-detail">
                            <p>Pagado:</p>
                            <p>${{payment.amount_dollar}}</p>
                            <p class="amount-bs">Bs.{{payment.amount_bs}}</p>
                        </div>
                        <div class="bill-detail">
                            <p>Cambio:</p>
                            <p>${{payment.exchange_rate}}</p>
                        </div>
                        <div class="bill-detail">
                            <p>Total:</p>
                            <p>${{payment.total_dollar}}</p>
                        </div>
                    </div>
    
                    <div class="bill-body-buttons detail-buttons">
                        <a href="{% url 'payments:payment_detail'  payment.id %}" class="link-secondary-button">Detalle</a>
                        <a href="{% url 'payments:update_payment'  payment.id %}" class="link-primary-button">Editar</a> 
                    </div>
                </div>
            </div>
                
            {% endfor %}
            
        </div>
        {% else %}
        <div>
            <p>Aun no se han registrado pagos.</p>
        </div>
        {% endif %}
    </div>
    
    <div class="add">
        <div class="hint inactive">
            <div>
                <a href="{% url 'accounts:new_account' %}">
                <p>Cuenta</p>
                    <figure >                    
                        <img src="{% static 'bills/images/account.png'  %}" alt="new-account" >
                    </figure>
                </a> 
            </div>  
            <div>
                <a href="{% url 'providers:new_provider' %}">
                <p>Proveedor</p>
                    <figure >                    
                        <img src="{% static 'bills/images/user.png'  %}" alt="new-bill" >
                    </figure>
                </a> 
            </div>     
            <div>
                <a href="{% url 'payments:new_payment' %}">
                <p>Pago</p>
                    <figure >                    
                        <img src="{% static 'bills/images/coin.png'  %}" alt="new-bill" >
                    </figure>
                </a> 
            </div>  
            <div>
                <a href="{% url 'bills:new_bill' %}">
                <p>Factura</p>
                    <figure >                    
                        <img src="{% static 'bills/images/bill.png'  %}" alt="new-bill" >
                    </figure>
                </a> 
            </div>  
        </div>
        
        <figure class="figure">            
            <img src="{% static 'bills/images/plus.png'  %}" alt="new-bill">
        </figure>
    
    </div>
</div>

</body>
<script src="{% static 'bills/js/main.js' %}"></script>
<script src="{% static 'bills/js/print.js' %}"></script>
{% endblock %}