<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estas a punto de eliminar la factura {{bill.bill_number}} del proveedor {{bill.provider.nickname}} permanentemente</h1>
    <h3>Deseas continuar?</h3>

    <a href="{% url 'bills:bill_deleted' bill.id %}">Si</a><br><br>
    <a href="{% url 'bills:index' %}">No</a><br><br>
    
</body>
</html>