{% load static %}
<!DOCTYPE html>
<html lang="es" > 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bills/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'bills/css/style.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">

    <title>Bills Tracker</title>
    
</head>
<body>
    <header>
        <nav class="navbar">
            <figure class="mobile-menu-link">
              <img src="{% static 'bills/images/menu.png'  %}" alt="menu" class="menu">
            </figure>
            <ul class="main-nav">
              <li><a href="{% url 'bills:index'%}" class="bill-nav">Facturas</a></li>
              <li><a href="{% url 'payments:index'%}" class="payment-nav">Pagos</a></li>
              <li><a href="{% url 'providers:index'%}" class="provider-nav">Proveedores</a></li>                
              <li><a href="{% url 'accounts:index'%}" class="account-nav">Cuentas</a></li>                
            </ul>
            {% if request.user %}
            <div class="user-menu">
              <p>{{request.user.first_name}} </p>
              <img src="{% static 'bills/images/arrow.png'  %}" alt="menu">
              <div class="dropdown-menu inactive">
                <ul>
                  <li><a href="{% url 'users:index'%}">Usuarios</a></li>
                  <li><a href="{% url 'users:user_detail' request.user.id %}">Detalle</a></li>
                  <li><a href="{% url 'users:update_user' request.user.id %}">Actualizar Datos</a></li>                
                  <li><a href="{% url 'users:logout'%}">Salir</a></li> 
                </ul>
              </div>
            </div>
            {% endif %}
            <div class="mobile-menu inactive">
              <ul>
                <li>
                  <a href="{% url 'bills:index'%}" class="bill-mob-nav">Facturas</a>
                </li>
                <li>
                  <a href="{% url 'payments:index'%}" class="payment-mob-nav">Pagos</a>
                </li>
                <li>
                  <a href="{% url 'providers:index'%}" class="provider-mob-nav">Proveedores</a>
                </li>
                <li>
                  <a href="{% url 'accounts:index'%}" class="account-mob-nav">Cuentas</a>
                </li>
              </ul>
              </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>