{% extends 'bills/header.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{{ value|floatformat:2|intcomma:2 }}
<body>
 
<div class="place p-bills"></div>
<div class="bills">
    <div class="title">
        <p>Facturas</p>
    </div>
    <div class="bills-container">    

        {% for bill in bills_list %}
        <div class="bill-content">
            <div class="bill-head">
                <div class="bill-head-left">
                    <p>{{bill.bill_number}}   |</p>
                    <p>Em: {{bill.emission_date}}  -</p>
                    <p>Vto: {{bill.due_date}}</p>
                    {% if bill.overdue %}
                    <p class="debt">Vencida</p>
                    {% else %}
                    <p class="paid">Vigente</p>
                    {% endif %}
                </div>
                <div class="bill-head-right">
                    <figure>
                        <a href="{% url 'bills:delete_bill'  bill.id %}" >
                            <img src="{% static 'bills/images/trash.png'  %}" alt="trash" class="trash">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="bill-body">
                <div class="bill-body-sub-left">
                    <div class="bill-detail">
                        <p>Proveedor:</p>
                        <p>{{bill.provider.nickname}}</p>
                    </div>
                    <div class="bill-detail">
                        <p>Comentario:</p>
                        <p>{{bill.note}}</p>
                    </div>
                    <div class="bill-detail">
                        <p>Estado:</p>
                        {% if bill.paid %}
                        <p>Pagado</p>
                        {% else %}
                        <p>Pendiente</p>
                        {% endif %}
                    </div>
                </div>

                <div class="bill-body-sub">
                    <div class="bill-detail">
                        <p>Total:</p>
                        <p>${{bill.total_amount_dollar}}</p>
                        <p>Bs.{{bill.total_amount_bs}}</p>
                    </div>
                    <div class="bill-detail">
                        <p>Pagar:</p>
                        <p>${{bill.amount_to_pay_dollar}}</p>
                        <p>Bs.{{bill.amount_to_pay_bs}}</p>
                    </div>
                    <div class="bill-detail">
                        <p>Restante:</p>
                        <p>${{bill.rest_to_pay_dollar}}</p>
                    </div>
                </div>

                <div class="bill-body-buttons">
                    <a href="{% url 'payments:new_payment_show_bill_id'  bill.id %}" class="link-primary-button">Pagar</a>
                    <a href="{% url 'bills:bill_detail'  bill.id %}" class="link-primary-button">Detalle</a>
                    <a href="{% url 'bills:update_bill'  bill.id %}" class="link-secondary-button">Editar</a> 
                </div>
            </div>
        </div>
         
        {% endfor %}
    </div>
    <div class="add">
        <div class="hint inactive">
                <div>
                    <a href="{% url 'providers:new_provider' %}">
                    <p>Proveedor</p>
                        <figure >                    
                            <img src="{% static 'bills/images/user.png'  %}" alt="new-bill" >
                        </figure>
                    </a> 
                </div>     
                <div>
                    <a href="{% url 'payments:new_payment' %}">
                    <p>Pago</p>
                        <figure >                    
                            <img src="{% static 'bills/images/coin.png'  %}" alt="new-bill" >
                        </figure>
                    </a> 
                </div>  
                <div>
                    <a href="{% url 'bills:new_bill' %}">
                    <p>Factura</p>
                        <figure >                    
                            <img src="{% static 'bills/images/bill.png'  %}" alt="new-bill" >
                        </figure>
                    </a> 
                </div>  
        </div>
        
        <figure class="figure">            
            <img src="{% static 'bills/images/plus.png'  %}" alt="new-bill">
        </figure>
    
    </div>
</div>

</body>
<script src="{% static 'bills/js/main.js' %}"></script>
{% endblock %}