<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Factura</title>
</head>
<body>
    <h1>Nueva Factura</h1>
    <form action="{% url 'bills:bill_created' %}" method="post">
        {% csrf_token %}

        <label for="provider" >Proveedor:  {{provider.name}} </label><br>
        <label for="provider" >Retencion: {{provider.taxtype}}</label>
        <label for="provider"  >RIF: </label>
        <input type="text" name="provider_rif"value="{{provider.rif}}" readonly>

        
        <br><br>
        
        <label for="bill_number">Numero de Factura</label><br>
        <input type="text" name="bill_number" value={{bill_number}} required><br>
        
        <label for="emission_date">Fecha de emision </label><br>
        <input type="date" name="emission_date" value={{emission_date}} required><br>

        <label for="due_date">fecha de vencimiento</label><br>
        <input type="date" name="due_date" value={{due_date}} required><br>

        <label for="total_amount_bs">Total Bs:</label>
        <input type="number" step="0.01"  name="total_amount_bs" value={{total_amount_bs}} required><br>
  
        <label for="exchange_rate">Tasa de Cambio Bs</label>
        <input type="number" step="0.01" name="exchange_rate" value={{exchange_rate}} required><br>
        
        <input type="submit" value="Calcular"><br><br>

        <label for="sub_total_bs">SubTotal: Bs</label>
        <input type="number" step="0.01" name="sub_total_bs" value={{sub_total_bs}} required><br>

        <label for="tax_bs">IVA Bs</label>
        <input type="number" step="0.01" name="tax_bs" value={{tax_bs}} required><br>

        <label for="retained_tax_bs">Iva Retenido Bs</label>
        <input type="number" step="0.01" name="retained_tax_bs" value={{retained_tax_bs}} required><br>
        
        <label for="amount_to_pay_bs">Total a Pagar Bs</label>
        <input type="number" step="0.01" name="amount_to_pay_bs" value={{amount_to_pay_bs}} required><br>

        <label for="total_amount_dollar">Total factura en divisa $</label>
        <input type="number" step="0.01" name="total_amount_dollar" value={{total_amount_dollar}} required><br>

        <label for="amount_to_pay_dollar">Total a pagar en divisa $</label>
        <input type="number" step="0.01" name="amount_to_pay_dollar" value={{amount_to_pay_dollar}} required><br>
        <br><br>
        <label for="note">Nota</label><br>
        <input type="text" name="note" placeholder="Nota"><br>

        <input type="submit" value="Create" >


    </form>
    {{ request.session.error_message }} <br>
    {{ request.session.message }} <br>

    <a href="{% url 'bills:index' %}">Cancelar</a>
</body>
</html>