{% extends 'bills/header.html' %}
{% block content %}
{% load static %}

<body>
<div class="new-bill">
    <div class="title">
        <p>Nueva Factura</p>
    </div>

    <form action="{% url 'bills:new_bill_calc' %}" method="post">
    {% csrf_token %}
        <div class="form-body">
            <div class="form-provider">
                <div class="form-provider-left">
                    <label for="provider_rif" >Proveedor:</label>
                    <input   list="providers-list" name="provider_rif" placeholder="Selccione Opcion.." required>
                        <datalist id="providers-list">
                            {% for provider in providers_list  %}
                                <option value="{{provider.rif}}">{{provider.rif}} | {{provider.nickname}}</option>                
                            {% endfor %}  
                        </datalist>
                </div>
                <div class="form-provider-right">
                    <div>
                        <p>Nombre:</p>
                        <p>Manuel Grillo {{provider.name}}</p>
                    </div> 
                    <div>
                        <p>Alias:</p>
                        <p>Manu {{provider.nickname}}</p>
                        <p>Retencion:</p>
                        <p>75 {{provider.taxtype}}%</p>
                    </div>
                </div>
            </div>
            <div class="form-data">
                <div>
                    <label for="bill_number">Numero de Factura:</label>
                    <input type="text" name="bill_number" placeholder="Numero de Factura" required>
                </div>
                <div>
                    <div>
                        <label for="emission_date">Fecha de emision: </label>
                        <input type="date" name="emission_date" value="{{date}}" required>
                    </div>
                    <div>
                        <label for="due_date">fecha de vencimiento:</label>
                        <input type="date" name="due_date" value="{{date}}" required>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="total_amount_bs">Total Bolivares:</label>
                        <p>
                            Bs.<input type="number" step="0.01"  name="total_amount_bs" placeholder="Total.." required>

                        </p>
                    </div>
                    <div>
                        <label for="total_amount_dollar">Total Dolares:</label>
                        <p>
                        $<input type="number" step="0.01" name="total_amount_dollar" placeholder="Divisa" readonly>
                        </p>
                    </div>
                </div>
                <div>
                    <div> 
                        <label for="exchange_rate">Cambio:</label>
                        <p>
                        Bs.<input type="number" step="0.01" name="exchange_rate" placeholder="Tasa" required>
                        </p>
                    </div>
                    <input type="submit" value="Calcular">
                </div>                
            </div>
            <div class="form-calc">
                <div>
                    <label for="sub_total_amount">SubTotal:</label>
                    Bs.<input type="number" step="0.01" name="sub_total_amount" placeholder="SubTotal" readonly>
                </div>
                <div>
                    <div>
                        <label for="tax_bs">I.V.A.:</label>
                        Bs.<input type="number" step="0.01" name="tax_bs" placeholder="IVA" readonly>
                    </div>
                    <div>
                        <label for="retained_tax_bs">I.V.A. Retenido:</label>
                        Bs.<input type="number" step="0.01" name="retained_tax_bs" placeholder="I.V.A. Retenido" readonly>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="amount_to_pay_bs">A Pagar Bolivare:</label>
                        Bs.<input type="number" step="0.01" name="amount_to_pay_bs" placeholder="a Pagar" readonly>
                    </div>
                    <div>
                        <label for="amount_to_pay_dollar">A Pagar Dolares:</label>
                        $<input type="number" step="0.01" name="amount_to_pay_dollar" placeholder="Divisa" readonly>
                    </div>
                </div>
                <div>
                    <label for="note">Nota</label><br>
                    <input type="text" name="note" placeholder="Nota">
                </div>
                <div>
                    <a href="{% url 'bills:index' %}">Cancelar</a>
                    <input type="submit" value="Create" disabled>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script src="{% static 'bills/js/main.js' %}"></script>
{% endblock %}