{% extends 'bills/header.html' %}
{% block content %}
{% load static %}

<div class="place n-bill"></div>
<body>
<div class="new-bill">
    <div class="title">
        <p>Editar Factura</p>
    </div>
    {% if request.session.error_message %}
        <div class="error_message">
            <p>{{request.session.error_message}}</p>
        </div>
        {% endif %}
        {% if request.session.success_message %}
        <div class="success_message">
            <p>{{request.session.success_message}}</p>
        </div>
        {% endif %}

    <form action="{% url 'bills:new_bill_show_provider' %}" method="post">
    {% csrf_token %}
        <div class="form-body">
            <div class="form-provider">
                <div class="form-provider-left">
                    <label for="provider_rif" >Proveedor:</label>
                    <div>
                    <input   list="providers-list" name="provider_rif" value="{{bill.provider.rif}}" readonly>
                        <figure>
                            <input type="image" src="{% static 'bills/images/refresh.png'  %}" alt="Submit Form" disabled/>
                        </figure>
                    </div>
                </div>
                <div class="form-provider-right">
                    <div>
                        <p>Nombre:</p>
                        <p>{{bill.provider.name}}</p>
                    </div> 
                    <div>
                        <p>Alias:</p>
                        <p>{{bill.provider.nickname}}</p>
                        <p>Retencion:</p>
                        <p>{{bill.provider.taxtype}}%</p>
                    </div>
                </div>
            </div>
    </form>
    <form action="{% url 'bills:update_bill_save' bill.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="provider_rif" value="{{bill.provider.rif}}">
            <div class="form-data">
                <div>
                    <label for="bill_number">Numero de Factura:</label>
                    <input type="text" name="bill_number" value="{{bill_number}}" required >
                </div>
                <div>
                    <div>
                        <label for="emission_date">Emision: </label>
                        <input type="date" name="emission_date" value="{{emission_date}}" required >
                    </div>
                    <div>
                        <label for="due_date">Vencimiento:</label>
                        <input type="date" name="due_date" value="{{due_date}}" required >
                    </div>
                </div>
                <div>
                    <div>
                        <label for="amount_bs">Total Bolivares:</label>
                        <p>
                            Bs.<input type="text" onKeyUp="numericFilter(this);"  name="amount_bs" value="{{amount_bs}}" required >
                        </p>
                    </div>
                    <div>
                        <label for="amount_dollar">Total Dolares:</label>
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="amount_dollar"value="{{amount_dollar}}" required >
                        </p>
                    </div>
                </div>
                <div class="form-data-last">
                    <div> 
                        <label for="exchange_rate">Cambio:</label>
                        <p>
                            Bs.<input type="text" onKeyUp="numericFilter(this);" name="exchange_rate" value="{{exchange_rate}}" required >
                        </p>
                    </div>
                    <input type="submit" value="Calcular" name="choice" class="link-primary-button" disabled>
                </div>                
            </div>

            <div class="form-calc">
                <div>
                    <div>
                        <label for="sub_total_bs">SubTotal Bolivares:</label>
                        <p>
                            Bs.<input type="text" onKeyUp="numericFilter(this);" name="sub_total_bs" value="{{sub_total_bs}}" readonly>
                        </p>
                    </div>
                    <div>
                        <label for="sub_total_dollar">SubTotal Dolares:</label>
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="sub_total_dollar" value="{{sub_total_dollar}}" readonly>
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="tax_bs">IVA Bolivares:</label>
                        <p>
                            Bs.<input type="text" onKeyUp="numericFilter(this);" name="tax_bs" value="{{tax_bs}}" readonly>
                        </p>
                    </div>
                    <div>
                        <label for="tax_dollar">IVA Dolares:</label>
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="tax_dollar" value="{{tax_dollar}}" readonly>
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="retained_tax_bs">IVA Retenido Bolivares:</label>
                        <p>
                            Bs.<input type="text" onKeyUp="numericFilter(this);" name="retained_tax_bs" value="{{retained_tax_bs}}" readonly>
                        </p>
                    </div>
                    <div>
                        <label for="retained_tax_dollar">IVA Retenido Dolares:</label>
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="retained_tax_dollar" value="{{retained_tax_dollar}}" readonly>
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="amount_to_pay_bs">A Pagar Bolivares:</label>
                        <p>
                            Bs.<input type="text" onKeyUp="numericFilter(this);" name="amount_to_pay_bs" value="{{amount_to_pay_bs}}" readonly>
                        </p>
                    </div>
                    <div>
                        <label for="amount_to_pay_dollar">A Pagar Dolares:</label>
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="amount_to_pay_dollar" value="{{amount_to_pay_dollar}}" readonly>
                        </p>
                    </div>
                </div>
                <div class="totals">
                    <div>
                        <label for="bill_total_dollar">Total Factura Dolares:</label>
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="bill_total_dollar" value="{{bill_total_dollar}}" readonly>
                        </p>
                    </div>
                    <div>
                        <label for="total_to_pay_dollar">Total a Pagar Dolares:</label>
                        <p>
                            $<input type="text" onKeyUp="numericFilter(this);" name="total_to_pay_dollar" value="{{total_to_pay_dollar}}" readonly>
                        </p>
                    </div>
                </div>
                <div class="create-note">
                    <label for="note">Nota:</label><br>
                    <input type="text" name="note" value="{{note}}">
                </div>
                <div class="create-buttons">
                    <a href="{% url 'bills:index' %}" class="link-secondary-button" >Cancelar</a>
                    <input type="submit" value="Guardar" class="link-primary-button" >
                </div>
            </div>
        </div>
    </form>
</div>
{{ request.session.error_message }}
{{ request.session.message }}
</body>
<script src="{% static 'bills/js/new_bill.js' %}"></script>
{% endblock %}


