<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
</head>
<body>
    <h1>Pagos</h1>
    <br>

    {% if payments_list %}
        
        {% for payment in payments_list %}
        {{payment.bill.provider.nickname}} - {{payment.date}} - Pagado: {{payment.amount_bs}}Bs  {{payment.amount_dollar}}Bs - Cambio: {{payment.exchange_rate}}Bs
        <a href="{% url 'payments:payment_detail'  payment.id %}">view</a> 
        <a href="{% url 'payments:update_payment'  payment.id %}">update</a> 
        <a href="{% url 'payments:delete_payment'  payment.id %}">delete</a> 
        <br>
        {% endfor %}
    {% else %}
        Aun no has Creado Pagos
        Crea uno aqui
    {% endif %}
    
    <br><br>
    <a href="{% url 'payments:new_payment' %}">Nuevo Pago</a> - - - 
<br>
    <!-- <a href="#">Nuevo Gasto</a> <br><br>
    <a href="#">Nueva Transferencia</a><br><br>
    <a href="#">Nueva Cuenta</a><br><br>
    <a href="#">Ver Categorias</a><br><br>
    -->
    
    <a href="#">volver a inicio</a>

</body>
</html>