{% extends 'bills/header.html' %}
{% block content %}
{% load static %}

<div class="place n-bill"></div>
<body>
<div class="new-payment">
    <div class="title">
        <p>Nuevo Pago</p>
    </div>

    <div class="form-body form-body-payment">
        <form action="{% url 'bills:new_bill_show_provider' %}" method="post">
            <div class="form-provider">
                {% csrf_token %}
                <div class="form-provider-left">
                    <label for="bill_id" >Factura:</label>
                    <div>
                        <input   list="bills-list" name="bill_id" placeholder="Selccione Opcion.." required>
                            <datalist id="bills-list">
                                {% for bill in bills_list  %}
                                    <option value="{{bill.id}}">
                                        {{bill.bill_number}} | 
                                        {{bill.provider.nickname}} - 
                                        ${{bill.rest_to_pay_dollar}} - 
                                        Bs.{{bill.amount_to_pay_bs}}
                                        Cambio: Bs.{{bill.exchange_rate}}
                                    </option>                
                                {% endfor %}  
                                </datalist>
                        <figure>
                            <input type="image" src="{% static 'bills/images/refresh.png'  %}" alt="Submit Form" />
                        </figure>
                    </div>
                </div>
                <div class="form-provider-right">
                    <div>
                        <p>Proveedor:</p>
                        <p>{{bill_selected.provider.nickname}}Manu</p>
                    </div> 
                    <div>
                        <p>Total:</p>
                        <p>${{bill.total_amount_dollar}}250,00</p>
                        <p>Restante:</p>
                        <p>${{bill.rest_to_pay_dollar}}200,00</p>
                    </div>
                </div>
            </div>
        </form>
        <form action="{% url 'bills:new_bill_calc' %}" method="post">
            {% csrf_token %}
            <div class="form-data-payment">
                <input type="hidden" name="bill_selected" value="{{bill_selected.id}}">
                <div>
                    <div>
                        <label for="date">Fecha: </label>
                        <input type="date" name="date" value="{{date}}" required>
                    </div>
                    <div>
                        <label for="account">Cuenta</label>
                        <input type="text" name="account" placeholder="Cuenta" required>
                    </div>
                    
                </div>
                <div>
                    <div>
                        <label for="amount_bs">Pago Bolivares:</label>
                        <p>
                            Bs.<input type="number" step="0.01"  name="amount_bs" value="0" required>
                        </p>
                    </div>
                    <div>
                        <label for="amount_dollar">Pago Dolares:</label>
                        <p>
                            $<input type="number" step="0.01" name="amount_dollar" value="0" required>
                        </p>
                    </div>
                </div>
                <div class="form-data-last-payment">
                    <div> 
                        <label for="exchange_rate">Cambio:</label>
                        <p>
                            Bs.<input type="number" step="0.01" name="exchange_rate" placeholder="Tasa" >
                        </p>
                    </div>
                    <div>
                        <label for="transfer_id">Codigo de transferencia: </label>
                        <p><input type="number" step="0.01" name="transfer_id" placeholder="Codigo"></p>
                    </div>
                </div>     
                <div class="create-note">
                    <label for="description">Descripcion:</label>
                    <input type="text" name="description" placeholder="Nota">
                </div>   
                <div>
                    <label for="paid_total"> Pago total</label>
                    <input type="checkbox" name="paid_total" value="True" checked>
                </div>
                <div class="create-buttons">
                    <a href="{% url 'bills:index' %}" class="link-secondary-button" >Cancelar</a>
                    <input type="submit" value="Create" class="link-primary-button">
                </div>       
            </div>            
        </form>
    </div>
    {{ request.session.error_message }} 
    {{ request.session.message }} 

</div>
</body>
<script src="{% static 'bills/js/new_bill.js' %}"></script>
{% endblock %}