<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Pago</title>
</head>
<body>
    <h1>Nuevo Pago</h1>
    <form action="{% url 'payments:update_payment_save' payment.id %}" method="post">
        {% csrf_token %}

        <label >Factura: {{payment.bill.bill_number}} Proveedor: {{payment.bill.provider.nickname}}</label>
       Total a pagar: Bs.{{payment.bill.amount_to_pay_bs}} -- Cambio: Bs.{{payment.bill.exchange_rate}}
       <br>
       Total a pagar: ${{payment.bill.amount_to_pay_dollar}} <br>
       Restante por pagar: ${{payment.bill.rest_to_pay_dollar}} <br>
            

        <label for="date">Fecha</label><br>
        <input type="date" name="date" value="{{date}}" required><br>

        <label for="amount_bs">Pago en Bs:</label>
        <input type="number" step="0.01"  name="amount_bs" value="{{payment.amount_bs}}" required><br>
  
        <label for="amount_dollar">Pago en $:</label>
        <input type="number" step="0.01" name="amount_dollar" value="{{payment.amount_dollar}}" required><br>

        <label for="exchange_rate">Tasa de Cambio Bs</label>
        <input type="number" step="0.01" name="exchange_rate" value="{{payment.exchange_rate}}" required><br>
                
        <label for="account">Cuenta</label>
        <input type="text" name="account" value="{{payment.account}}" required><br>

        <label for="description">Descripcion:</label>
        <input type="text" name="description" value="{{payment.description}}" ><br>
        
        <label for="transfer_id">Codigo de transferencia: </label>
        <input type="number" step="0.01" name="transfer_id" value="{{payment.transfer_id}}" ><br>
        
       <label for="paid_total"> Pago total</label>
        {% if payment.paid_total %}
            <input type="checkbox" name="paid_total" value="True" checked><br>
        {% else %}
            <input type="checkbox" name="paid_total" value="True" ><br>
        {% endif %}
        <br><br>

        <input type="submit" value="Crear" >


    </form>
    {{ request.session.error_message }} <br>
    {{ request.session.message }} <br>


    <a href="{% url 'payments:index' %}">Cancelar</a>
</body>
</html>