    :root{
        --font-color:          #5E5E5E;
        --primary-pink:        #FFB5DD;
        --secondary-pink:      #FF70BD;
        --division:            #BAB0B0;
        --backgorund:          #FFFFFF;
        --white:               #e7e7e7;
        --black:               #000000;
        --sm:   14px;
        --md:   16px;
        --lg:   18px;
    }
    body {
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        color: var(--font-color);
        background: var(--backgorund);
    }
/* Navbar  */
    nav{
        position: fixed;
        top: 0px;
        width: 100%;
        display: flex;
        border-bottom: var(--division) 2px solid ;
        justify-content: center;
        background: var(--backgorund);
        z-index: 15;
    }
    nav figure{
        width: 50px;
        height: 50px;
    }
    .menu{
        margin-top: 15px;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        display: none;
        opacity: 60%;
    }

    .main-nav{    
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        align-items: center;
        height: 60px;
        margin-left: -50px;
    }
    .main-nav li{
        margin-left: 20px;
    }

    .bill-nav,
    .payment-nav,
    .provider-nav{
        text-decoration: none;
        color: var(--font-color);
        border: var(--backgorund) 1px solid;
        border-radius: 8px;
        padding: 8px;
        font-weight: bold;
        font-size: var(--lg);
    }
    .navbar-selected{
        color: var(--secondary-pink);
        border: var(--secondary-pink) 1px solid;
    }

    .main-nav li a:hover{
        color: var(--secondary-pink);
        border: var(--secondary-pink) 1px solid;
    }
    .mobile-menu{
        position: fixed;
        top: 51px;
        width: 150px;
        height: 200px;
        z-index: 10;
        box-shadow: 6px 6px 12px -8px rgba(0,0,0,0.50);    
    }
    .mobile-menu ul{
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--backgorund);
        border-radius: 5px;
    }
    .mobile-menu ul li{
        height: 30px;
        border: var(--backgorund) 1px solid;
        border-radius: 8px;
        padding: 8px;    
    }
    .bill-mob-nav,
    .payment-mob-nav,
    .provider-mob-nav{
        text-decoration: none;
        color: var(--font-color);
        font-size: var(--lg);
    }
    .navbar-mobile-selected{
        color: var(--secondary-pink);
        font-weight: bold;
    }
/* index menu   Bills/Payments/Providers  */
    .bills{
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
        position: relative;
        margin-top: 60px;
    }
    .bills-container{
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 80%;
        place-items: center;
    }
    .bill-content,
    .bill-content-p{
        width: 900px;
        display: flex;
        flex-direction: column;
        height: 170px;
        border-radius: 9px;
        background: var(--white);

        margin-top: 15px;
        padding: 20px;
    }
    .bill-head{
        display: flex;
        justify-content: space-between;
        border-bottom: var(--division) 1px solid;

        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .bill-head-left{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .bill-head-left p{
        margin-left: 10px;
    }
    .bill-head-right figure {
        margin: 0;
    }
    .bill-head-right figure img{
        width: 20px;
        height: 20px;
        opacity: 60%;
    }
    .bill-body{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
    }
    .bill-body p:nth-child(1){
        font-weight: bold;
    }
    .bill-body-sub,
    .bill-body-sub-p,
    .bill-body-sub-provider,
    .bill-body-sub-left,
    .bill-body-sub-left-p,
    .bill-body-sub-left-provider{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
    }
    .bill-body-sub-left,
    .bill-body-sub-left-p,
    .bill-body-sub-left-provider{
        border-right: var(--division) 1px solid;
        padding-right: 20px;
    }
    .bill-body-sub-left-p{
        width: 400px;
    }
    .bill-body-sub-left-provider{
        width: 100px;
    }
    .bill-body-sub-provider{
        width: 400px;
    }
    .bill-detail{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;    
    }
    .bill-body-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;    
        width: 150px;
    }
    .bill-body-buttons a,
    .form-calc div a{
        display: block;
        box-sizing: border-box;
        height: 35px;
        text-align: center;
        padding-top: 7px;
        margin-top: 10px;

        border-radius: 5px;
        border: var(--primary-pink) 2px solid;
        text-decoration: none;
    }
    .link-primary-button{
        background: var(--secondary-pink);
        color: var(--white);
        font-size: var(--md);
        border: var(--secondary-pink) 1px solid;
    }
    .link-secondary-button{
        background: var(--white);
        color: var(--secondary-pink);
    }
/* float button */
    .add{
        position: fixed;
        right: 45px;
        bottom: 5vh;
    }
    .figure{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: var(--secondary-pink);
        display: grid;
        place-items: center;

        position: fixed;
        right: 20px;
        bottom: 5vh;
    }
    .add figure img{
        width: 12px;
        height: auto;
        opacity: 100%;
    }
    .figure:hover{
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 4vh;
    }
    .hint{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100px;
        background: var(--white);
        
        border-radius: 5px;
        opacity: 100%;
        padding: 7px;
        box-shadow:  0px 0px 10px -8px #000000; 

        position: fixed;
        right: 17px;
        bottom: 12vh;
    }
    .hint div{
        width: 100px;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
    .hint p{    
        font-size: var(--sm);
        font-weight: bold;
        color: var(--font-color);
        margin-top: 3px;

    }
    .hint figure{    
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #ffc600;
        opacity: 100%;
        display: grid;
        place-items: center;
    }
    .add  div figure a img{
        width: 40px;
        height: auto;
        margin-left: 4px;
        opacity: 100%;
    }
/* Details */
    .details{
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
        margin-top: 60px;
    }
    .details-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .title{
        width: 100%;
        height: 100px;
        display: grid;
        place-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 15px;
    }
    .title p{
        color: var(--secondary-pink);
        font-size: 48px;
    }
    .general-details,
    .details-content{
        width: 700px;
        height: 90px;
        display: flex;
        justify-content: space-betweens;
        background: var(--white);
        border-radius: 8px;
    }
    .general-details-left,
    .general-details-center{
        width: 33%;
        height: 85%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        margin: 5px;
        margin-left: 15px;
        padding-right: 10px;

        border-right: var(--division) 1px solid;
    }
    .general-details-right{
        width: 33%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 5px;
    }
    .general-details-left div,
    .general-details-center div,
    .general-details-right div{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .general-details-left div p,
    .general-details-center div p{
        display: block;
        height: 50%;
    }
    .general-details-right-p{
        display: block;
        height: 100%;
        font-weight: bold;
        padding-top: 30%;
    }
    .general-details-left div p:nth-child(1),
    .general-details-center div p:nth-child(1){
        font-weight: bold;
    }
    .paid{
        color: green;
        font-weight: bold;
    }
    .debt{
        color: red;
    }
    .details-content{
        flex-direction: column;
        height: 207px;
        margin-top: 40px;
        align-items: center;
    }
    .detail-head{
        display: flex;
        width: 95%;
        margin: 5px;
        margin-left: 10px;
        padding-bottom: 10px;
        padding-top: 5px;
        border-bottom: var(--division) 1px solid;
    }
    .detail-head-left,
    .detail-head-center,
    .detail-head-right{
        display: flex;
        justify-content: space-evenly;
    }
    .detail-head-left{
        width: 10%;
        margin-right: 10px;
        font-weight: bold;
    }
    .detail-head-center{
        width: 60%;
        justify-content: left;
        padding-left: 15px;
        border-left: var(--division) 1px solid;

    }
    .detail-head-right{
        width: 30%;
        font-weight: bold;
    }
    .detail-body{
        display: flex;
        width: 90%;
        height: 130px;
        border: var(--division) 1px solid;
        border-radius: 8px;
        margin-top: 15px;
        
    }
    .detail-body-left,
    .detail-body-center,
    .detail-body-right{
        width: 33%;
        display: flex;
        flex-direction: column;
        margin-top: 17px;       
        margin-bottom: 10px;
    }
    .detail-body-left div,
    .detail-body-center div,
    .detail-body-right div{
        height: 33%;
        display: flex;
        justify-content: space-around;
    }
    .detail-body-left div,
    .detail-body-center div{
        border-right : var(--division) 1px solid;

    }
    .detail-body-left div p:nth-child(1),
    .detail-body-center div p:nth-child(1),
    .detail-body-right div p:nth-child(1){
        font-weight: bold;
    }
    .payment-title{
        width: 100%;
        height: 40px;
        display: grid;
        place-items: left;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .payment-title p{
        color: var(--secondary-pink);
        font-size: 30px;
        font-weight: bold;
    }
    .payments-container{
        width: 660px;
    }
    .payment-content{
        width: 660px;
        height: 150px;
        padding-top: 10px;
    }
    .payment-body{
        margin-top: 5px;
        padding-bottom: 60px;
    }
    .bill-body-payment-left{
        width: 40%;
        margin-left: -10px;
        justify-content: space-evenly;
    }
    .bill-body-payment-left p:nth-child(2){
        padding-left: 15px;
        padding-right: -10px;
    }
    .bill-body-payment-center{
        margin-left: -20px;
        width: 30%;
        padding-left: 10px;
    }
    .detail-buttons{
        width: 15%;
    }
/* Form new bill */
    .new-bill{
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
        margin-top: 0px;
    }
    .form-body{
        height: 700px;
        width: 560px;
        display: flex;
        flex-direction: column;
        background: var(--white);
        border: var(--division) 1px solid;
        border-radius: 6px;
        padding: 15px 10px 15px 20px;
        margin-bottom: 50px;
    }
    .form-body p:nth-child(1),
    .form-body p:nth-child(3),
    .form-body label{
        font-weight: bold;
    }
    .form-provider,
    .form-data,
    .form-calc{
        width: 560px;
        display: flex;      
        justify-content: space-around;  
        border-bottom: var(--division) 1px solid;
        padding-bottom: 10px;
    }
    .form-provider div div{
        flex-direction: row;
    }
    .form-body figure {
        margin: 0;
        display: grid;
        justify-content: center;
        padding-left: -10px;
    }
    
    .form-calc{
        border-bottom: 0px;
    }
    .form-provider{
        height: 60px;
    }
    .form-provider input,
    .form-data input,
    .form-calc input{
        height: 25px;
        border-radius: 6px;
        border: var(--division) 1px solid;
        padding-left: 10px;
    }
    .form-data div:nth-child(2) div input{
        margin-top: 0px;
    }
    .form-body figure input{
        width: 25px;
        height: 25px;
        opacity: 80%;
        padding-left: 0px
    }
    .form-provider div{
        width: 40;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .form-provider-right{
        width: 60%;
    }
    .form-provider-right div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .form-data,
    .form-calc{
        height: 280px;
        flex-direction: column;
    }
    .form-data div,
    .form-calc div{
        display: flex;
    }
    .form-data div label,
    .form-calc div label{
        margin-top: 15px;
        margin-right: 15px;
    }
    .form-data input,
    .form-calc input{
        width: 130px;
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 10px;
    }
    .form-data div div,
    .form-calc div div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 60px;
        padding-top: 15px;
    }
    .form-data div div p,
    .form-calc div div p{
        font-weight: bold;
    }
    .form-calc{
        margin-top: 30px;
    }
    .form-calc div:nth-child(3) div:nth-child(2) input{
        margin-left: 22px;
    }
    .form-calc div a{
        width: 120px;
        height: 35px;
        display: grid;
        justify-content: center;
    }
    .create-note{
        margin-top: 10px;
    }
    .create-note input{
        width: 400px;
        height: 35px;
    }
    .create-note label{
        padding-top: 10px;
    }
    .create-buttons{
        margin-top: 20px;
        justify-content: space-evenly;
    }
    .create-buttons input,
    .form-data-last input:nth-child(2){
        width: 120px;
        height: 35px;
    }
    .form-data-last input:nth-child(2) {
        margin-top: 45px;
    }
    
    .inactive{
        display: none;
    }
/* responsive */
    @media (max-width: 640px) {
        .menu {
            display: block;
        }
        .main-nav{
            display: none;
        }
        nav{
            justify-content: left;
        }
        .bills-container{
            width: 100%;
        }
        .bill-content{
            height: 250px;
            width: 315px;

        }
        .bill-content-p{
            height: 335px;
            width: 315px;
        }
        .bill-body{
            flex-wrap: wrap;
        }
        .bill-head-left p:nth-child(2){
            display: none;
        }
        .bill-body-sub div:nth-child(2){
            display: none;
        }
        .bill-body-sub-left,
        .bill-body-sub-left-p,
        .bill-body-sub-left-provider{
            border-bottom: var(--division) 1px solid;
            border-right: none;
            padding-bottom: 5px;  
            padding-right: 0px;
            width: 300px;      
        }

        .bill-body-sub,
        .bill-body-sub-p,
        .bill-body-sub-provider {
            width: 300px;
        }
        .bill-body-sub-left div:nth-child(2){
            display: none;
        }
        .bill-body-sub div p:nth-child(3){
            display: none;
        }
        .bill-body-buttons{
            flex-direction: row;
            width: 220px;
        }
        .link-primary-button,
        .link-secondary-button{
            width: 70px;
        }

    }