
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
{% if error_message %}
{{error_message}}
{% endif %}

<form method="post" action="{% url 'users:login_next' %}">
{% csrf_token %}

<label for="username">username</label><br>
<input type="text" name="username" placeholder="username" required><br>

<label for="password">password</label><br>
<input type="password" name="password" placeholder="*********" minlength="8" required><br>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{{ request.session.error_message }}<br>
<a href="{% url 'users:reset_password'%}">Olvide Contraseña</a><br>
<a href="{% url 'users:index'%}">inicio</a>
