{% extends 'bills/header.html' %}
{% block content %}
{% load static %}

<div class="place n-bill"></div>
<body>
<div class="new-payment">
    <div class="title">
        <p>Contraseña de {{user.first_name}} {{user.last_name}}</p>
    </div>

    <div class="form-body  form-body-pass">
        <form action="{% url 'users:save_new_password' user.id %}" method="post">
            {% csrf_token %}
            <div class="form-data-payment form-data-user">
                <div>
                    <label for="username">username</label>
                    <input type="text" name="username" value="{{user.username}}" readonly>
                </div>
             
                <div>
                    <label for="admins_password">Contraseña del administrador:</label>
                    <input type="password" name="admins_password" placeholder="admins password" required>
                </div>

                <div>
                    <label for="password">Nueva contraseña de {{user.username}}</label>
                    <input type="password" name="new_password" placeholder="new password" minlength="8" required>
                </div>
                <div>
                    <label for="password">Confirma nueva contraseña</label>
                    <input type="password" name="new_password2" placeholder="new password" minlength="8" required>
                </div>

                <div class="create-buttons">
                    <a href="{% url 'users:index' %}" class="link-secondary-button" >Volver</a>
                    <input type="submit" value="Guardar" class="link-primary-button">
                </div>       
            </div>            
        </form>
    </div>
    {{ request.session.message }} 

</div>
</body>
<script src="{% static 'bills/js/new_bill.js' %}"></script>
{% endblock %}