{% extends 'bills/header.html' %}
{% block content %}
{% load static %}

<div class="place n-bill"></div>
<body>
<div class="new-payment">
    <div class="title">
        <p>Actualizar Cuenta</p>
    </div>

    <div class="form-body  form-body-user form-body-user-update">
        <form action="{% url 'users:singup_next' %}" method="post">
            {% csrf_token %}
            <div class="form-data-payment form-data-user form-data-user-update">
                <div>
                    <label for="username">username</label>
                    <input type="text" name="username" value="{{user.username}}" required>
                </div>
                <div>
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" value="{{user.first_name}}" required>
                    
                </div>
                <div>
                    <label for="last_name">Apellido</label>
                    <input type="text" name="last_name" value="{{user.last_name}}" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" value="{{user.email}}" required>
                </div>
                
                {% if user.is_staff %}
                <div>
                    <label for="is_staff">Admin:</label>
                    <input type="checkbox" name="is_staff" value="True" checked>
                </div>
                {% else %}
                <div>
                    <label for="is_staff">Admin:</label>
                    <input type="checkbox" name="is_staff" value="True">
                </div>
                {% endif %}
   
                <div class="create-buttons">
                    <a href="{% url 'users:index' %}" class="link-secondary-button" >Volver</a>
                    <input type="submit" value="Crear" class="link-primary-button">
                </div>       
            </div>            
        </form>
    </div>
    {{ request.session.message }} 

</div>
</body>
<script src="{% static 'bills/js/new_bill.js' %}"></script>
{% endblock %}